<!-- By Andy Nguyen -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Courses App - Index Page</title>
</head>
<body>
    <div class="container">
        <!-- Create Course -->
        <div class="w-50">
            <h1>Add a new course</h1>
            <form action="/process" method="post">
                {% csrf_token %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="desc">Description:</label>
                    <textarea class="form-control" name="desc"></textarea>
                </div>
                <a href="/process"><button type="submit" class="btn btn-success">Add</button></a>
            </form>
        </div>

        <div class="bottom mt-5">
            <h1>Courses</h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in all_courses %}
                    <tr>
                        <th scope="row">{{course.name}}</th>
                        <td>{{course.desc}}</td>
                        <td>{{course.created_at}}</td>
                        <td><a href="/courses/destroy/{{course.id}}">remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>